<div class="container">
<h1> New task</h1>

<%= form_with model: task do |t| %>
  <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label"><%= t.label :title %>
  <%= t.text_field :title %>
  </label>
  </div>
  <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label"><%= t.label :details %>
  <%= t.text_field :details %>
  </label>
  </div>
  <%= t.submit %>
<% end %>
</div>
